<!--//
   // ViewBag.Title = "HellowWorld";
  //  Layout = "~/Views/HelloWorld/_Layout.cshtml";


<h2>HellowWorld</h2>-->


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Index Title";
}

<h2>Index Header Text</h2>

<p>Hello from our View Template!</p>